* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background: white;
  backdrop-filter: blur(30px);
}

.banner {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  font-size: 12px;
  border-bottom: 1px solid rgb(241, 238, 238);
}

.banner .banner-first {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner > .banner-first span {
  color: #e04700;
  font-weight: 600;
  cursor: pointer;
}

.banner .contact {
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.banner .contact span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 10px;
}

/* navegation menu */

.header{
    background-color: aliceblue;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.header .nav span{
    color: #e04700;
}

.header .nav a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

.header .nav a:hover{
    color: #e04700;
}

.header .button{
    width: 140px;
    height: 40px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #e04700  ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: white;
    cursor: pointer;
}


/* section one */

.sectionOne{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 4vh 11vw;
}

.sectionOne h1{
    font-size: 4.9rem;
}

.sectionOne .partTwo{
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
}

.sectionOne .partTwo .flex{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.sectionOne .partTwo .flex2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.sectionOne .partTwo .flex2 h3{
    color: gray;
    font-size: 22px;
}

.sectionOne .partTwo .flex2 .buttons{
    display: flex;
    gap: 20px;
}

.sectionOne .partTwo .flex2 .buttons a{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.sectionOne .partTwo .flex2 .buttons .btn1{
    background-color: #e04700;
    color: white;
}

.sectionOne .partTwo .flex2 .buttons .btn1:hover{
    background-color: rgb(250, 249, 246);
    color: #e04700 ;
    transition: 0.2s all ease-in-out ; 
}

.sectionOne .partTwo .flex2 .buttons .btn2{
    border: 1px solid #e04700;
    color: black;
    transition: 0.2s all ease-in-out ; 
}

.sectionOne .partTwo .flex2 .buttons .btn2:hover{
    background-color: #e04700;
    color: aliceblue;
}

.sectionOne .partTwo .flex2 .logos{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 35px;
}

.sectionOne .partTwo .img1{
    width: 315px;
    height: auto;
    border-radius: 10px;
}

.sectionOne .partTwo .reviews{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sectionOne .partTwo .reviews .google{
    width: 80px;
}


.sectionOne .partTwo .reviews p {
    font-size: 12px;
    font-weight: 600;
    color: gray;
}

.sectionTwo{
    width: 100%;
    min-height: 100vh;
    background-color: #010813;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 2vh 11vw;
}

.sectionTwo h2{
    font-size: 40px;
}

.sectionTwo h4{
    font-size: 12px;
    color: gray;
}

.sectionTwo .cards{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.sectionTwo .cards div {
    width: 230px;
    height: 240px;
    border: 1px solid rgba(116, 108, 108, 0.185);
}

.sectionTwo .cards .img{
    width: 230px;
    height: 240px;
}



