* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background: white;
  backdrop-filter: blur(30px);
}

.banner {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  font-size: 12px;
  border-bottom: 1px solid rgb(241, 238, 238);
}

.banner .banner-first {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner > .banner-first span {
  color: #e04700;
  font-weight: 600;
  cursor: pointer;
}

.banner .contact {
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.banner .contact span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 10px;
}

/* navegation menu */

.header{
    width: 100%;
    height: 10vh;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.header .nav span{
    color: #e04700;
}

.header .nav a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

.header .nav a:hover{
    color: #e04700;
}

.header .button{
    width: 140px;
    height: 40px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #e04700  ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: white;
    cursor: pointer;
}


/* section one */

.sectionOne{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 4vh 11vw;
}

.sectionOne h1{
    font-size: 4.9rem;
}
