* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.banner {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  font-size: 12px;
  border-bottom: 1px solid rgb(241, 238, 238);
}

.banner > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner .contact {
  display: flex;
  gap: 30px;
}

.banner .contact span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
